@model FoodDelivery4.Models.food

@{
    ViewData["Title"] = "Create Food Item";
}

<h1>Create Food Item</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="file" class="control-label">Upload Image</label>
        <input type="file" id="file" name="file" accept="image/*" class="form-control" />
      
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>



